.tab-content {
  position: relative;
}

.saved-success, .overlay {
  position: absolute;
  width:    100%;
  height:   55px;
  bottom:   41px;
}

.saved-success {
  font-size:   40px;
  font-weight: bold;
  text-align:  center;
}

.overlay {
  background-color: #ccc;
  opacity:          0.4;
}





